form.form 
  include ../components/title.pug
  .desc Create an account to enjoy all the services without any ads for free!
  .form__inputs 
    +input('Email Address','email')
    +input('Password','password')(id='js-password')
  .form__btn
    include ../components/button.pug
  .form__info Already Have An Account? 
    a.link(href="#") Sign In