* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #a7d7c5;
  overflow: hidden;
  height: 100vh;
  &::after,
  &::before {
    content: '';
    width: clamp(15.625rem, 4.261rem + 56.82vw, 46.875rem);
    height: clamp(15.625rem, 4.261rem + 56.82vw, 46.875rem);
    border-radius: clamp(3.313rem, 0.881rem + 12.16vw, 10rem);
    background-color: #c1e3d6;
    transform: rotate(-45deg);
    position: absolute;
    display: block;
    z-index: 1;
  }
  &::after {
    left: -32%;
    top: -20%;
  }
  &::before {
    bottom: -20%;
    right: -32%;
  }
}
.container {
  max-width: 100vw;
  padding: 0 26px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.desc {
  font-size: clamp(0.75rem, 0.5rem + 1.25vw, 1.438rem);
  text-align: center;
  margin: 5px auto 0;
  line-height: 1.3;
  max-width: 472px;
  color: #32403b;
}
.form-box {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}
